.body {
  display: flex;
  background-color: #ececec;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height:100vh;
  width:100vw;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 8vw;
  background-color: #ffffff;
  gap: 1rem;
  border-right: 0.12rem solid rgb(143, 143, 143);
}
.btn:last-child{
  border-top: 0.1em solid rgb(185, 185, 185);
  margin-top: auto;
  border-radius: 0.5rem;
}
.btn:first-child{
  margin-top: 2rem;
}
.btn_nav {
  display: flex;
  color: #000000;
  justify-content: flex-start;
  padding: 0.8rem;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.CooDiv {
  width: 91.99vw;
  height: 99.9vh;
  padding: 1.5rem;
  overflow: auto;
}
.divtable {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.btn{
  display: flex;
  color: #000000;
  justify-content:flex-start;
  padding: 0.8rem;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-color: #b8b8b8;
}
.active {
  background-color: #c5c5c5;
  border-top: #c5c5c5 0.2em solid;
  border-bottom: #c5c5c5 0.2em solid;
  border-radius: 0.2rem;
}
.active_box {
  animation: highlight 1.8s ease-out;
}
.card_icon {
  width: 20%;
  height: 30%;
  align-self: center;
}
.card_h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  color: #000000;
  padding-top: 1rem;
  text-align: center;
}
.card_h2 {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: #9ca3af; 
  text-align: center;
}
.card_base {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  padding: 1rem;
}
.card_base_stats {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  padding: 1rem;
  display: flex;
  height: 300px;

}
.box {
  background-color: #ffffff;
  margin-bottom: 2rem;
  color: #000000;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 1rem;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@keyframes highlight {
  0% {
    border-color: transparent;
    box-shadow: none;
  }
  50% {
    border-color: #000000;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
  }
  100% {
    border-color: transparent;
    box-shadow: none;
  }
}
.reset{
  background-color: #ffffff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 49;
}
.stats_btn{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border: #d5d5d5 2px solid;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0.4rem;
  color:#858585;
}

