.body {
  display: flex;
  background-color: #ececec;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height:100vh;
  width:100vw;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Mantiene la altura del contenedor basada en el viewport */
  width: 8vw; /* Ancho fijo relativo al ancho del viewport */
  background-color: #ffffff;
  gap: 1rem; /* Espacio entre elementos relativo al tamaño base de fuente */
  border-right: 0.12rem solid rgb(143, 143, 143);
  min-width: 50px; /* Ancho mínimo */
}
.btn:last-child {
  border-top: 0.1em solid rgb(185, 185, 185); /* Línea divisoria relativa */
  margin-top: auto;
  border-radius: 0.5rem;
}
.btn:first-child{
  margin-top: 2rem;
}
.btn{
  display: flex;
  color: #000000;
  justify-content: flex-start;
  padding: 0.8rem;
  align-items: center;
  height: 5vh; /* Altura basada en el viewport */
  width: 100%; /* Ocupa el ancho completo del contenedor */
  font-size: 0.9rem; /* Tamaño de texto relativo al tamaño base */
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.nav_text {
  font-size: 1rem; /* Tamaño normal relativo */
  white-space: nowrap;
  overflow: hidden;
  transition: font-size 0.3s ease, opacity 0.3s ease;
}
/* Texto del botón */
.nav_text {
  font-size: 1rem; /* Tamaño normal relativo */
  white-space: nowrap;
  overflow: hidden;
  transition: font-size 0.3s ease, opacity 0.3s ease;
}

/* Reducir texto en pantallas más pequeñas */
@media (max-width: 75vw) {
  .nav_text {
    font-size: 0.8rem; /* Texto más pequeño en pantallas medianas */
  }
}

@media (max-width: 60vw) {
  .nav_text {
    font-size: 0.6rem; /* Reducir más el tamaño del texto */
  }
}

@media (max-width: 50vw) {
  .nav_text {
    font-size: 0; /* Ocultar texto completamente */
    opacity: 0;
  }
}

/* Reducir texto en pantallas más pequeñas */
@media (max-width: 1200px) {
  .nav_text {
    font-size: 0.8rem; /* Texto ligeramente más pequeño */
  }
}

@media (max-width: 112px) {
  .nav_text {
    font-size: 0.6rem; /* Reducir más el tamaño del texto */
  }
}

@media (max-width: 968px) {
  .nav_text {
    font-size: 0; /* Ocultar texto completamente */
    opacity: 0;
  }
}
.CooDiv {
  width: 91.99vw;
  height: 99.9vh;
  padding: 1.5rem;
  overflow: auto;
}
.divtable {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.active {
  background-color: #c5c5c5;
  border-top: #c5c5c5 0.2em solid;
  border-bottom: #c5c5c5 0.2em solid;
  border-radius: 0.2rem;
}
.active_box {
  animation: highlight 1.8s ease-out;
}
.card_icon {
  width: 20%;
  height: 30%;
  align-self: center;
}
.card_h1 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  color: #000000;
  padding-top: 1rem;
  text-align: center;
}
.card_h2 {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: #9ca3af; 
  text-align: center;
}
.card_base {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  padding: 1rem;
}
.card_base_stats {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  padding: 1rem;
  display: flex;
  height: 300px;

}
.box {
  background-color: #ffffff;
  margin-bottom: 2rem;
  color: #000000;
  transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 1rem;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@keyframes highlight {
  0% {
    border-color: transparent;
    box-shadow: none;
  }
  50% {
    border-color: #000000;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
  }
  100% {
    border-color: transparent;
    box-shadow: none;
  }
}
.reset{
  background-color: #ffffff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 49;
}
.stats_btn{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border: #d5d5d5 2px solid;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0.4rem;
  color:#858585;
}

